<template>
  <div id="option">
    <div v-on:click="selectOption(option.value, option.dependentIds, option.optionKey)" class="option-list" :class="{ active: selected }">
      <h3>{{ option.title }}</h3>
      <h4>{{ option.description }}</h4>

    </div>
  </div>
</template>
<script>

export default {
  name: "Option",
  props: {
    option: Object,
    step: Number,
    selected: Boolean,
  },
  methods: {
    selectOption: function(value, dependentIds, optionKey) {
      const nextStep = this.step + 1;
      this.$store.dispatch('setStep', nextStep);
      this.$store.dispatch('setDependentsIds', dependentIds);
      this.$store.dispatch('setOption', {
        option: value,
        optionKey:optionKey,
      });
      this.$store.dispatch('validate');
    }
  }
}
</script>
<style>
ul {
  width: 100%;
}
li {
  list-style: none;
}

h1 {
  width: 100%;
}
.option-list {
  border: 1px solid #999;
  padding: 2px;
  margin-bottom: 10px;
  background-color: #ccc;
  cursor: pointer;
}

.option-list:hover {
  background-color: #aaa;
}

.active {
  background-color: #FAA;
}
.active:hover {
  background-color: #FCC;
}



.step li {
  width: 80%;
}

.option {
  width: 100%;
}

</style>
