<template>
  <div class="step">
    <h1>Passo {{ index + 1 }}</h1>
    <ul>
      <li v-for="option in filteredOptions" :key="option.value" class="stepList">
        <Option :option="option" :step="index" :selected="isSelected(option.value)" />
      </li>
    </ul>
  </div>
</template>

<script>
import Option from "./Option";

export default {
  name: "Step",
  components: {Option},
  props: {
    index: Number,
    optionValue: String,
    rawOptions: Object,
  },
  data(){
    return {
      options: []
    }
  },
  computed: {
    filteredOptions() {
      if (this.$store.state.actualStep >= this.index) {
        const dependencyRule = this.$store.state.dependentIds.find(dependent => {
          return dependent.step === this.index;
        });
        if (!dependencyRule){
          return this.options;
        }

        return this.options.filter( option => {
          return dependencyRule.dependentIds.includes(option.id);
        });

      }
      return [];
    },
  },
  methods: {
    isSelected(value) {
      const selected = this.$store.state.actualOption.find(option => {
        return option.option === value
      });
      if (selected) {
        return true
      }
      return false;
    }
  },
  mounted() {
    Object.keys(this.rawOptions).map(key => {
      const option = {
        dependentIds: this.rawOptions[key]['dependent_ids'],
        description: this.rawOptions[key]['description'],
        title: this.rawOptions[key]['title'],
        value: this.rawOptions[key]['value'],
        optionKey: this.optionValue,
        id: key,
      };
      this.options.push(option);
    });
  },
}

</script>

<style>
  .step {
    width: 100%;
  }

  .stepList {
    width: 80% !important;
  }

  h1 {
    text-align: center;
    margin-left: 0;
  }
</style>
