<template>
  <div id="app">
    <ul class="container">
      <li v-for="(step, index) in steps" :key="step.id">
        <Step :index="index" :rawOptions="step.options" :optionValue="step.id" />
      </li>
    </ul>
    <div class="payload" v-if="showPayload()">
      <h3>Payload</h3>
      <pre>{{ buildPayload() }}</pre>
    </div>
  </div>
</template>

<script>
import Step from "./components/Step";

export default {
  name: 'app',
  components:{Step},
  data() {
    return {
      steps: [],
    }
  },
  mounted() {
    fetch("https://api-lema21.eotica.com.br/v1/page/lema21-antonio-black-11255-101-56")
    .then( d => d.json())
    .then(resp => {
      const jsonOptions = resp.page_structure.options;
      const options = JSON.parse(jsonOptions);
      Object.keys(options.flow).map(key => {
        const step = {
          id: key,
          options: options.flow[key],
        };
        this.steps.push(step);
      });
    });
  },
  methods: {
    showPayload() {
      console.log("this is valid? ", this.$store.state.isValid);
      return this.$store.state.isValid;
    },
    buildPayload() {
      const payload = {
        options: {}
      }
      this.$store.state.actualOption.forEach(option => {
        payload.options[option.optionKey] = option.option;
      });

      return JSON.stringify(payload);
    }
  }
}
</script>

<style>
  .container {
    display: flex;
    width: 100%;
  }

  .container li {
    width: 30%;
  }
</style>
